from discord.ext import commands


class Settings:
    def __init__(self, client: commands.Bot = None):
        # Main Bot Settings
        self.ai_token = "YOUR_AI_TOKEN_HERE"
        self.ai_url = "YOUR_AI_URL_HERE"
        self.content_moderation_token = "YOUR_CONTENT_MODERATION_TOKEN_HERE"
        self.content_moderation_url = "YOUR_CONTENT_MODERATION_URL_HERE"
        self.token = "YOUR_DISCORD_BOT_TOKEN_HERE"
        self.reaction_filter_emotes = ["EMOTE_1", "EMOTE_2"]

        # Twitch Settings
        self.twitch_bot_name = "YOUR_TWITCH_BOT_NAME_HERE"
        self.twitch_bot_refresh_token = "YOUR_TWITCH_BOT_REFRESH_TOKEN_HERE"
        self.twitch_channel_id = "YOUR_TWITCH_CHANNEL_ID_HERE"
        self.twitch_channel_name = "YOUR_TWITCH_CHANNEL_NAME_HERE"
        self.twitch_channel_refresh_token = "YOUR_TWITCH_CHANNEL_REFRESH_TOKEN_HERE"
        self.twitch_client_id = "YOUR_TWITCH_CLIENT_ID_HERE"
        self.twitch_client_secret = "YOUR_TWITCH_CLIENT_SECRET_HERE"

        if client is None:
            return

        # Initialize your settings with objects from the client
        self.guild = client.get_guild(YOUR_GUILD_ID_HERE)
        self.dm_receipt_channel = self.guild.get_channel(YOUR_DM_RECEIPT_CHANNEL_ID_HERE)
        self.log_blacklist_channels = [self.guild.get_channel(channel_id) for channel_id in
                                       [CHANNEL_ID_1, CHANNEL_ID_2]]
        self.log_channel = self.guild.get_channel(YOUR_LOG_CHANNEL_ID_HERE)
        self.reaction_filter_channels = [self.guild.get_channel(channel_id) for channel_id in
                                         [CHANNEL_ID_1, CHANNEL_ID_2]]
        self.report_channel = self.guild.get_channel(YOUR_REPORT_CHANNEL_ID_HERE)

        # YouTube Settings
        self.youtube_settings = [
            {
                "id": "YOUTUBE_CHANNEL_ID_1",
                "mention_role": self.guild.get_role(YOUR_MENTION_ROLE_ID_1),
                "post_channel": self.guild.get_channel(YOUR_POST_CHANNEL_ID_1),
                "guild_id": self.guild
            },
            {
                "id": "YOUTUBE_CHANNEL_ID_2",
                "mention_role": self.guild.get_role(YOUR_MENTION_ROLE_ID_2),
                "post_channel": self.guild.get_channel(YOUR_POST_CHANNEL_ID_2),
                "guild_id": self.guild
            },
            # ... Add as many YouTube settings as you need
        ]
